.movies-list {
    list-style: none;
    margin: 0;
    padding: 0;
}



.movieList{
    padding-bottom: 0%;
}
.movieDetails{
    width: 100%;
    height: 80%;
    overflow: hidden;
    /* text-align: center; */
}